!!!
%html
  %head
    %title Pivotal SSL Connect
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    '/pivotal-ui/pivotal-ui.min.css'
    = javascript_include_tag 'application'
    = javascript_include_tag '/pivotal-ui/pivotal-ui.min.js'
    = csrf_meta_tags
  %body.bg-neutral-10
    .main.container-fluid.pan
      .pane.bg-full-bleed.bg-dark-1.pvl
        .container.pvn.mvn
          .row
            .col-xs-19
              .media
                .media-left.ptl
                  = link_to root_path do
                    / Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In
                    %svg{"enable-background" => "new 0 0 20 25.4", :height => "25.4px", :version => "1.1", :viewBox => "0 0 20 25.4", :width => "20px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:a" => "http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                      %defs
                      %g
                        %path{:d => "M19.5,1.9C19.8,2,20,2.3,20,2.7c0,0.1,0,0.2-0.1,0.3V3l-0.4,0.9l-0.1,0.2c-0.1,0.3-0.4,0.5-0.7,0.5\n\t\tc-0.1,0-0.2,0-0.3-0.1h-0.1c-2.7-1.1-5.5-1.7-8.3-1.7c-2.9,0-5.7,0.6-8.3,1.7C1.5,4.5,1.4,4.5,1.3,4.5C0.9,4.5,0.7,4.4,0.5,4\n\t\tL0.5,3.9L0.1,3V3C0,2.9,0,2.8,0,2.7C0,2.3,0.2,2,0.5,1.9h0.1l0.1-0.1C3.6,0.6,6.7,0,10,0c3.3,0,6.4,0.6,9.4,1.9L19.5,1.9L19.5,1.9z\n\t\t M18,5.6c0.3,0.1,0.5,0.4,0.5,0.7c0,0.2,0,0.3-0.1,0.3L10,25.4L1.6,6.7c0-0.1-0.1-0.2-0.1-0.3C1.5,6,1.7,5.7,2,5.6\n\t\tc0,0,0.1,0,0.1-0.1C4.6,4.5,7.2,4,10,4c2.8,0,5.4,0.5,7.9,1.6C17.9,5.6,17.9,5.6,18,5.6L18,5.6z M5.1,6C4.7,6.3,4.5,6.7,4.5,7.3\n\t\tc0,0.5,0.2,1,0.5,1.3c0.3,0.3,0.8,0.5,1.3,0.5c0.5,0,1-0.2,1.3-0.5C8,8.2,8.2,7.8,8.2,7.3c0-0.5-0.2-1-0.5-1.3\n\t\tC7.3,5.6,6.9,5.5,6.4,5.5C5.8,5.5,5.4,5.6,5.1,6z M7.6,13c0-0.6,0.3-0.9,0.7-1.1l0.7-0.2c0.3,0,0.5-0.1,0.5-0.4\n\t\tc0-0.3-0.1-0.5-0.4-0.5c-0.4,0-0.8,0.1-1.1,0.2c-0.8,0.3-1.3,1-1.3,1.9c0,0.3,0.1,0.5,0.4,0.5C7.4,13.5,7.6,13.3,7.6,13z M8.7,16.9\n\t\tc0.3,0.4,0.8,0.5,1.3,0.5c0.5,0,1-0.2,1.3-0.5c0.3-0.4,0.5-0.8,0.5-1.3c0-0.5-0.2-0.9-0.5-1.3C11,14,10.5,13.8,10,13.8\n\t\tc-0.5,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.8-0.5,1.3C8.2,16.1,8.3,16.5,8.7,16.9z M10.7,20.6c0.8-0.4,1.1-1.1,1.1-2\n\t\tc0-0.3-0.2-0.4-0.5-0.4c-0.3,0-0.4,0.2-0.4,0.5c0,0.6-0.2,1-0.6,1.2L9.5,20c-0.3,0-0.5,0.2-0.5,0.5c0,0.3,0.2,0.4,0.5,0.4\n\t\tC10,20.9,10.3,20.8,10.7,20.6z M9.5,4.9C9.2,5,9.2,5.2,9.3,5.5c0,0.2,0.3,0.5,0.8,0.9c0.7,0.5,1.5,0.5,2.3,0\n\t\tc0.3-0.1,0.3-0.3,0.2-0.6c-0.1-0.3-0.3-0.3-0.6-0.2c-0.5,0.3-0.9,0.3-1.3,0l-0.6-0.5C10,4.8,9.8,4.7,9.5,4.9z M12.3,10.4\n\t\tc0.3,0.3,0.8,0.5,1.3,0.5c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.5-0.8,0.5-1.3c0-0.5-0.2-1-0.5-1.3s-0.8-0.5-1.3-0.5c-0.5,0-1,0.2-1.3,0.5\n\t\ts-0.5,0.8-0.5,1.3C11.8,9.6,12,10.1,12.3,10.4z", :fill => "#00A79C"}/

                .media-body
                  %h1.pbn.type-neutral-9.h3.mvm Pivotal SSL Connect
            .col-xs-5
              .txt-r.mtl
                %a.link-inverse Help
      = yield
