!!!
%html
  %head
    %title Pivotal SSL
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    '/pivotal-ui/pivotal-ui.min.css'
    = javascript_include_tag 'application'
    = javascript_include_tag '/pivotal-ui/pivotal-ui.min.js'
    = csrf_meta_tags
  %body.bg-neutral-10
    .main.container-fluid.pan
      .pane.bg-full-bleed.bg-dark-1.pvl
        .container.pvn.mvn
          .row
            .col-xs-4
              %h1.h3.man.type-neutral-8 Pivotal SSL
            .col-xs-20
              .txt-r
                %a.link-text Help
      = yield
