!!!
%html
  %head
    %title Pivotal SSL Connect
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    '/pivotal-ui/pivotal-ui.min.css'
    = javascript_include_tag 'application'
    = javascript_include_tag '/pivotal-ui/pivotal-ui.min.js'
    = csrf_meta_tags
  %body.bg-neutral-10
    .main.container-fluid.pan
      .pane.bg-full-bleed.bg-dark-1.pvl
        .container.pvn.mvn
          .row
            .col-xs-19
              .media
                .media-left
                  %i.fa.fa-certificate.h3.type-brand-3.mvm
                .media-body
                  %h1.pbn.type-neutral-9.h3.mvm Pivotal SSL Connect
            .col-xs-5
              .txt-r.mtl
                %a.link-text Help
      = yield
